.container {
    width: 100%;
    height: 40vw;
    position: relative;
  }
  
  /* TABS */ 
  .tabs {
    position: relative; 
    max-width: 65vw;
  }
  
  .tabs-wrapper {
    display: inline-grid;
    grid-template-columns: repeat(26, 1fr);
    margin-left: 3vh;

    }
  
  .tab-selected {
    background-color:#eeeeee;
    border: 1px solid #acacac;
    width: 3.2vw;
    text-align: center;
    border-bottom: none;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    cursor: pointer;
  }

  .single-tab {
    background-color:#aeadad;
    border: 1px solid #acacac;
    width: 3.2vw;
    text-align: center;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    cursor: pointer;
  }

  .contact-count {
    float: right;
    text-align: right;
    margin-top: 40%;
    margin-right: 2px;
    font-size: 20%;

  }
  

 /* CONTACTS  */
  .contact-list-container {
    background-color: #eeeeee;
    width: 90%;
    height: 35vw;
    position: relative;
    margin-left: 3vh;
    display: flex;
    padding-top: 10px;
  }

  .contact-column{
    /* background-color: rgb(226, 225, 140); */
    /* border: 1px solid black; */
    float: left;
    width: 50%;
    padding: 10px;
    display: block; 
  }


/* --------------- */

.section-line {
  border: 1px solid #c6c6c6;
  /* border: 1px solid rgb(0, 0, 0); */
  width: 100%;
  height: 0;
  margin: 1vh 0vh;
}