.contact-list-wrapper {
  border-top: none;
  background-color: #efefef;
  height: 50vw;;
  width: 90%;
  margin-left: 3vh;
  overflow-y: auto;
}

.contact-list-container {
  width: 90%;
  position: relative;
  display: inline-grid;
  grid-template-columns: 1fr 1fr !important;
  margin-top: 7vw;
}

.contact {
  padding-right: 1px;
  height: 10vh;
}

.contact-index-name {
  margin-left: 2vh;
  margin-top: 2vh;
  cursor: pointer;
}

.section-line {
  border: 1px solid #605f5e;
  width: 90%;
  height: 0;
  margin: 2vh 1vh;
}

@media screen and (max-width: 400px) {
  .contact-list-wrapper {
    padding-top: 12vw;
    border-top: none;
    background-color: #efefef;
    height: 160vw;
    width: 100%;
    overflow-y: auto;
    margin-left: 0;
  }
}