.general-data-wrapper {
  background-color: #efefef;
  width: 60vw;
  height: 25vw;
  box-shadow: 0px 5px 15px #605f5e;
  z-index: 2;
  position: absolute;
  margin: 15vw;
}

.data-wrapper {
  margin-top: 2vw;
  display: inline-grid;
  grid-template-columns: 3fr 4fr !important;
}

.photo-wrapper {
  margin: 0vw 2vw;
}

.contact-photo {
  float: left;
  border-radius: 100%;
  width: 15vw;
}

.general-details {
  margin-right: 2vw;
}

.name-detail {
  color: #c3c1c1;
  font-size: 250%;
  text-align: left;
  margin-left: 2vw;
}

.other-info {
  display: block;
  grid-template-columns: 1fr 3fr !important;
  margin-top: 5vw;
  margin-left: 2vw;
  float: left;
}

.info-category {
  font-weight: lighter;
  text-align: left;
  margin-right: 1vw;
}

.info-value {
  font-weight: lighter;
}

.close-button {
  border: none;
  color: #c3c1c1;
  cursor: pointer;
  margin: 1vw;
}

@media screen and (max-width: 400px) {
  * {
    font-size: 3vw;
  }
  
  .general-data-wrapper {
    background-color: #efefef;
    width: 90%;
    height: 60vw;
    box-shadow: 0px 5px 15px #605f5e;
    z-index: 2;
    position: absolute;
    margin: 55% 4%;
  }

  .data-wrapper {
    margin-top: 2vw;
    display: inline-grid;
    grid-template-columns: 1fr 4fr !important;
  }
}