.tabs {
  max-width: 65vw;
}

.tabs-columns {
  grid-template-columns: repeat(26, 1fr);
  width: 90%;
}

.tabs-wrapper {
  position: absolute;
  display: inline-grid;
  margin-left: 3vh;
  z-index: 1;
  padding-bottom: 3vw;
}

.tab-letter {
  padding-top: 0.5vw;
}

.tab-selected {
  background-color: #efefef;
  border: 1px solid #c3c1c1;
  width: 3, 8461538462%;
  text-align: center;
  border-bottom: none;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  cursor: pointer;
  padding-top: 0.5vw;
}

.tab-default {
  background-color: #c3c1c1;
  border: 1px solid #efefef;
  width: 3, 8461538462%;
  text-align: center;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  cursor: pointer;
  padding-top: 0.5vw;
}

.tab-empty {
  color: #969696;
  background-color: #c3c1c1;
  width: 3, 8461538462%;

  text-align: center;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  padding-top: 0.5vw;
}

.contact-count {
  float: right;
  text-align: right;
  margin-top: 40%;
  margin-right: 2px;
  font-size: 60%;
}

.unclickable {
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .tabs-wrapper {
    position: absolute;
    display: inline-grid;
    margin-left: 3vh;
    z-index: 1;
    padding-bottom: 3vw;
  }
  
  .tabs-columns {
    grid-template-columns: repeat(13, 1fr);
    width: 90%;
  }
}